@model AppUserListViewModel
@{
    ViewData["Title"] = "UpdateUser";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}


<section class="content">
    <div class="container-fluid pt-2">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header bg-dark mb-3">
                        <h3 class="card-title">Update @Model.Username</h3>
                    </div>

                    <form method="post">
                        <div class="card-body">
                            <div class="form-group">
                                <label>UserName</label>
                                <input type="text" class="form-control" asp-for="@Model.Username" placeholder="Enter New Category Name">
                            </div>

                            <div class="form-group">
                                <label>PhoneNumber</label>
                                <input type="text" class="form-control" asp-for="@Model.PhoneNumber" placeholder="Enter New Category Description">
                            </div>

                            <div class="form-group">
                                <label>Address </label>
                                <input type="text" class="form-control" asp-for="@Model.Address" placeholder="Enter New Address">
                            </div>

                            <div class="form-group">
                                <label>Email </label>
                                <input type="text" class="form-control" asp-for="@Model.Email" placeholder="Enter New Address">
                            </div>

                            <div class="form-group">
                                <label>BirthDate</label>
                                <input type="text" class="form-control" asp-for="@Model.BirthDate" placeholder="Birthdate">
                            </div>

                            <div class="form-group d-flex justify-content-between">
                                <div class="d-flex">
                                    <div>
                                        <label>Male</label>
                                        <input type="radio" class="form-control" asp-for="Gender" value="Male" />
                                    </div>
                                    <div>
                                        <label>Female</label>
                                        <input type="radio" class="form-control" asp-for="Gender" value="Female" />
                                    </div>
                                </div>
                                <div>
                                    <a asp-action="ChangePassword" asp-controller="AppUser" asp-route-id="@Model.ID" class="btn btn-dark btn-sm">Change Password</a>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-dark">Update</button>
                        </div>
                    </form>

                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
</section>

