@model ProductViewModelUser
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<section class="content">
    <div class="container-fluid pt-2">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header bg-dark mb-3">
                        <h3 class="card-title">Create New Product</h3>
                    </div>

                    <form method="post" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Product Name</label>
                                <input type="text" class="form-control" asp-for="@Model.ProductName" placeholder="Enter Product Name">
                            </div>

                            <div class="form-group">
                                <label>Unit Price</label>
                                <input type="number" class="form-control" asp-for="@Model.UnitPrice" placeholder="Enter Unit Price">
                            </div>
                            <div class="form-group">
                                <label>Units In Stock</label>
                                <input type="number" class="form-control" asp-for="@Model.UnitsInStock" placeholder="Enter Unitn In Stock">
                            </div>
                            <div class="form-group">
                                <label>Supplier:</label>
                                <select asp-items="@ViewBag.Suppliers" asp-for="SupplierId">
                                    <option disabled selected="">Select Supplier</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Category:</label>
                                <select asp-items="@ViewBag.Categories" asp-for="CategoryId">
                                    <option disabled selected="">Select Category</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Image Path:</label>
                                <input class="form-control" type="file" name="productImage">
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-dark">Create</button>
                        </div>
                    </form>

                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
</section>